@tailwind base;
@tailwind components;
@tailwind utilities;

.page-enter-active,
.page-leave-active {
    transition: all 0.3s ease-out;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
    transform: translateY(10px);
}